<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
<body>
    <h1>Create Your Own Pokemon</h1>
    <form action="/pokemon" method="POST">
        <div class="card-three">
        <a class="titles">Name</a> <br>
        <input class="new-form" type="text" name="name" placeholder="Name"><br>
        </div>
        <div class="card-three">
            <a class="titles">Type</a> <br>
        <input class="new-form" type="text" name="type" placeholder="Type"><br>
        <input class="new-form" type="text" name="type" placeholder="Type"><br>
        </div>
        <div class="card-three">
            <a class="titles">Stats</a> <br>
            <input class="new-form" type="text" name="hp" placeholder="HP"><br>
            <input class="new-form"  type="text" name="attack" placeholder="Attack"><br>
            <input class="new-form" type="text" name="defense" placeholder="Defense"><br>
            <input class="new-form" type="text" name="speed" placeholder="Speed"><br>
        </div>
        <div class="card-three">
        <a class="titles">Image</a> <br>
        <input class="new-form" type="url" name="img" id="" placeholder="Image Link"> <br>
    </div>
        <input type="submit" value="Create New Pokemon">
      </form>
  
</body>
</html>